* {
    margin: 0;
    padding: 0;
 }
 
 
 body {
    font-size: 26px;
 }
 
 
 .container {
    width: 60%;
    margin: 0 auto;
    border: solid 1px #000000;
 }
 
 
 .header {
    display: flex;
    background: linear-gradient(165deg, rgba(50,7,222,1) 0%, rgba(0,255,166,1) 100%);
    justify-content: space-around;
    align-items: center;
 }
 
 
 .header__logoEscola {
    width: 15%;
 }
 
 
 .header__turma {
    font-size: 40px;
    text-decoration: none;
    color: #ffffff;
 }
 
 
 .descricao {
    display: flex;
    justify-content: space-around;
    align-items: center;
 }
 

 .descricao__texto {
    position: relative;
    margin: 0 1em;
    width: 50%;
 }
 
 .descricao__avatar {
    position: relative;
    top: 0.1em;
    background: linear-gradient(165deg, rgba(50,7,222,1) 0%, rgba(0,255,166,1) 100%);
    width: 400px;
    border-radius: 50%;
 }
 
 .fav__texto {
    position: relative;
    margin: 2em 0;
    text-align: center;
 }

 .imgs {
    display: flex;
    flex-direction: column;
 }