    body{
        background-color:rgba(238, 238, 238, 0.985);
        font-family: 'Lucida Sans';
        font-size: small;
        color: #000000;
        text-align: center;
        display: inline;
        font-size: 54px;
    }

    header{
        background-image: linear-gradient(to bottom, #050c16, #222f3b, #3b5463, #547c8d, #6ea7b7);
        position: absolute;
        margin-bottom: auto;
        width: 100%;
        height: 200px;
    }

    .avatarImg{
        height: 500px;
    }

    .img3{
        width: 300px;
        height: 300px;
        border: #000000;
        border-radius: 10px;
    }

    .linha {
        text-align: center;
        width: 100%;
        height: 200px;
        font-family: 'Lucida Sans';
        font-size: small;
        font-size: 12px;
        background-color:rgb(123, 163, 185);
    }

    .itens{
        border:#222f3b;
        margin-bottom: 15px;
        background-image: linear-gradient(to bottom, #616d7e, #6d8194, #7a97a9, #86adbe, #93c3d1);
    }

    .hobbys{
        border: solid 4px;
        color: rgb(3, 32, 22), 58;
    }

    .frase {
        text-align: center;
        font-family: 'Lucida Sans';
        font-size: small;
        text-align: left;
        font-size: 30px;
        color:rgb(0, 0, 0);
    }

    .footer{
        position: absolute;
        margin-top: auto;
        background-image: linear-gradient(to top, #050c16, #222f3b, #3b5463, #547c8d, #6ea7b7);
        width: 100%;
        height: 200px;
    }
