* {
    margin: 0;
    padding: 0;
 }
 
 
 body {
   background-color: aliceblue;
    font-size: 36px;
 }
 
 
 .container {
    width: 60%;
    margin: 0 auto;
 }
 
 
 .header {
    display: flex;
    background: linear-gradient(165deg, rgba(50,7,222,1) 0%, rgba(0,255,166,1) 100%);
    justify-content: space-around;
    align-items: center;
 }
 
 
 .header__logoEscola {
    width: 15%;
 }
 
 
 .header__turma {
    font-size: 40px;
    text-decoration: none;
    color: #ffffff;
 }
 
 
 .descricao {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 1em 2em;
 }
 

 .descricao__texto {
    position: relative;
    margin: 0 1em;
    width: 50%;
 }
 
 .descricao__avatar {
    position: relative;
    top: 0.1em;
    background: linear-gradient(165deg, rgba(50,7,222,1) 0%, rgba(0,255,166,1) 100%);
    width: 400px;
    border-radius: 50%;
 }
 
 .fav__texto {
    position: relative;
    margin: 2em 0;
    text-align: center;
 }

 .imgs__item {
   display: flex;
   justify-content: space-around;
   align-items: center;
   margin: 4em;
   border: solid 1px black;
   border-radius: 10px;
   padding: 1em;
   background: linear-gradient(165deg, rgba(50,7,222,1) 0%, rgba(0,255,166,1) 100%);
 }

 .imagens {
   width: 300px;
   border-radius: 10px;
}

.imgs__jiu {
   width: 350px;
}

.imgs__game {
   width: 250px;
}

.imgs__js {
   width: 200px;
}

.imgs__texto {
   color:#ffffff;
   font-size: 1.3em;
}

.contato {
   padding: 2em ;
   text-align: center;
}

.contato__texto {
   margin:0 0 2em 0;
}

.contato__imgs {
   display: flex;
   justify-content: space-around;
}

.contato__logo {
   width: 100px;
}

.img__zap {
   width: 150px;
}

.footer {
   color: #ffffff;
   text-align: center;
   background: linear-gradient(165deg, rgba(50,7,222,1) 0%, rgba(0,255,166,1) 100%);
   padding: 2em;
}
